{% extends "frota/base.html" %} {% block conteudo %}

<section class="vh-100 gradient-custom">
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <div>
              <h3>Locação de Veículo</h3>
              <p>GMG Frota .</p>
              <form action="{%  url 'locacao' %}" method="post">
                {% csrf_token %}

                <div class="col-md-12">
                  <input
                    class="form-control"
                    type="text"
                    name="placa"
                    placeholder="Placa do Veículo"
                    value=""
                  />
                  <div class="valid-feedback">Placa válida.</div>
                  <div class="invalid-feedback">
                    Placa não pode ser em branco!
                  </div>
                </div>
                <p></p>
                <div class="col-md-12">
                  <select class="form-select mt-3" name="marca" value="">
                    <option selected disabled value="">Marca</option>
                    <option value="FIAT">Fiat</option>
                    <option value="VOLKSWAGEN">Volkswagen</option>
                    <option value="TOYOTA">Toyota</option>
                    <option value="HONDA">Honda</option>
                    <option value="JEEP">Jeep</option>
                  </select>
                  <div class="valid-feedback">Marca selecionado.</div>
                  <div class="invalid-feedback">Escolha uma marca!</div>
                </div>
                <p></p>
                <div class="col-md-12">
                  <select class="form-select mt-3" name="modelo" value="">
                    <option selected disabled value="">Modelo</option>
                    <option value="COROLLA">Corolla</option>
                    <option value="CITY 1.8">City 1.8</option>
                    <option value="GOL">Gol</option>
                    <option value="CRONOS">Cronos</option>
                    <option value="COMMANDER">Commander</option>
                  </select>
                  <div class="valid-feedback">Modelo selecionado.</div>
                  <div class="invalid-feedback">Escolha um modelo!</div>
                </div>
                <p></p>
                <div class="col-md-12">
                  <select class="form-select mt-3" name="cor" value="">
                    <option selected disabled value="">Cor</option>
                    <option value="BRANCO">Branco</option>
                    <option value="PRATA">Prata</option>
                    <option value="PRETO">Preto</option>
                    <option value="PLOTADO">Preto</option>
                  </select>
                  <div class="valid-feedback">Cor selecionada.</div>
                  <div class="invalid-feedback">Escolha uma cor!</div>
                </div>
                <p></p>
                <div class="col-md-12">
                  <select class="form-select mt-3" name="combustivel" value="">
                    <option selected disabled value="">Combustível</option>
                    <option value="GASOLINA">Gasolina</option>
                    <option value="ALCOOL">Alcool</option>
                    <option value="DIESEL S10">Diesel S10</option>
                    <option value="ALCOOL\GASOLINA">Alcool\Gasolina</option>
                    <option value="HVO">HVO</option>
                  </select>
                  <div class="valid-feedback">Combustível selecionado.</div>
                  <div class="invalid-feedback">
                    Escolha um tipo de combustível!
                  </div>
                  <p></p>
                  <div class="col-md-12">
                    <input
                      class="form-control"
                      type="date"
                      name="data"
                      value="01/02/2025"
                      required
                    />
                    <div class="valid-feedback">Data válida.</div>
                    <div class="invalid-feedback">
                      Data não pode ser em branco!
                    </div>
                  </div>
                </div>
                <p></p>
                <button
                  data-mdb-button-init
                  data-mdb-ripple-init
                  class="btn btn-outline-light btn-lg px-5"
                  type="submit"
                >
                  Consultar
                </button>
                <br />
                <br />
                <br />
                <br />
                <a href="/menu_opcoes/" class="text-white fw-bold">Voltar</a>
                <br />
                <br />

                <table class="table table-striped table-dark table text-center" style="width:100%">
                      <thead>
                        <tr>
                            <th>PLACA</th>
                            <th>MODELO</th>
                            <th>LOCAÇÃO?</th>
                      </thead>
                      <tbody>
                        </tr>
                        {% for localizado in localizados %}
                        <tr>
                            <td valign="middle"> {{localizado.placa}} </td>
                            <td valign="middle"> {{ localizado.modelo}}</td>
                            <td valign="middle"> <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="None">Locar</button></td>
                        </tr>
                        {% empty %}
                            <a>Nenhum veículo encontrado</a>
                        {% endfor %}
                      </tbody>
                    </table>    

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
